@import url("https://fonts.googleapis.com/css?family=Poppins");

:root {
    --font-family: "Poppins", sans-serif;
    --background: #e3f2fd;
    --black: #141414;
    --green: #50c878;
    --black-linear-gradient: linear-gradient(#333, black);
    --active-black-linear-gradient: linear-gradient(to bottom, black, #434343);
    --active-black-box-shadow: -5px 5px 10px rgba(255, 255, 255, 0.1);
    --white-linear-gradient: linear-gradient(#fff 96%, #eee 4%);
    --active-white-linear-gradient: linear-gradient(
        to bottom,
        #fff 0%,
        #eee 100%
    );
    --active-white-box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-color: var(--background);
}

#container {
    height: 100vh;
    display: flex;
    align-items: center;
    overflow-y: hidden;
}

.piano {
    background-color: var(--black);
    padding: 35px 40px;
    border-radius: 20px;
    margin: 0 auto;
}

.piano header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    font-size: 1.6rem;
}

.piano-keys {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.piano-keys .key {
    color: gray;
    list-style: none;
    cursor: pointer;
    position: relative;
}

.piano-keys .key.hide div {
    display: none;
}

.piano-keys .key.hide span {
    display: none;
}

.piano-keys .white {
    background: var(--white-linear-gradient);
    width: 62px;
    height: 205px;
    border-radius: 8px;
    border: 1px solid black;
    transition: 0.3s ease all;
}

.piano-keys .white.active {
    box-shadow: var(--active-black-box-shadow);
    background: var(--active-white-linear-gradient);
}

.piano-keys .black {
    background: var(--active-black-linear-gradient);
    width: 40px;
    height: 128px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 -20px;
    z-index: 2;
    transition: 0.3s ease all;
}
.piano-keys .black.active {
    box-shadow: var(--active-black-box-shadow);
    background: var(--active-black-linear-gradient);
}

.key div {
    font-size: 1.1rem;
    text-align: center;
    color: crimson;
    position: absolute;
    bottom: 35px;
    width: 100%;
}

.key span {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9rem;
    position: absolute;
    bottom: 7px;
}

.volume-slider {
    display: flex;
    align-items: center;
    gap: 15px;
}

.volume-slider span {
    font-size: 1.2rem;
}
.volume-slider input {
    accent-color: white;
}

.labels-checkbox {
    display: flex;
    align-items: center;
    gap: 15px;
}

.labels-checkbox span {
    font-size: 1.2rem;
}

.labels-checkbox input {
    position: relative;
    appearance: none;
    width: 60px;
    height: 30px;
    background-color: grey;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s ease all;
}

.labels-checkbox input:checked {
    background-color: var(--green);
}

.labels-checkbox input::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 30px;
    background-color: white;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s ease all;
}

.labels-checkbox input:checked::before {
    left: 35px;
}
